::-webkit-scrollbar {
    background: #000306 !important;
    width:10px;
    }
::-webkit-scrollbar-thumb {
    background: #180a16 !important;
}


html {
  scrollbar-color: #180a16 #000306 !important;
}

h3 {
    display:inline;
}

blockquote {
  background: #372c2c;
  border-left: 10px solid #4a1616;
  border-right: 10px solid #4a1616;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

#menu_game {
    float: right;
    margin-top: 15px;
}

#reaction_logo {
    max-width: 550px;
    padding-top:100px;
    width: 100%;
}

#logo_background {
    background-image: url("../resources/images/games/reaction_elements/logo_reaction_medium.gif");
    background-repeat: no-repeat;
    background-position: right;    
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

#game_body {
    background-color: rgb( 2, 0, 2 );
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-right:0;
    padding-left:0;
}

#game_text {
    padding: 50px;
    color: #c8a39e;
    line-height: 1.75;
    font-family: Montserrat,Lato,LatoExtended,sans-serif;
    font-size: 14px;
}

.parallax_overlay_reaction {
  background-color: rgb(0,0,0,0.8);
  width: 100%;
  min-height: 100%;
  position:absolute;
  left: 0;
  top: 0;
}

.parallax_reaction {
  background-image: url("../resources/images/games/reaction_elements/reaction_background.png");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-size: 60%;
}

.inline_menu {
  height: 50px;
}

.body_style {
  text-align: center;
  background-color: rgb( 2, 0, 2 );
}

.upper_area {
  height: 60px;
  background-color: #000000;
}

.text_paragraph {
  clear: both;
  padding-top: 20px;
}

.screenshot {
  display: inline;
  width: 32%;
}

.quote {
  float:right;
  text-align:right;
}

