::-webkit-scrollbar {
    background: #01060F;
    width:10px;
    }
::-webkit-scrollbar-thumb {
    background: #1f252f;
}

html {
    scrollbar-color: #1f252f #01060F;
}

body {
    background-color: rgb(  1.989, 12.9795, 29.988 );
    font: 0.8rem monospace;
    color: white;
    overflow-x: hidden;
}

a:link {
  color: rgb(153, 88, 125);
  text-decoration: none;
}

a:active {
  color: rgb(153, 88, 125);
  text-decoration: none;
}

a:visited {
  color: rgb(170, 115, 123);
  text-decoration: none;
}

a:hover {
  color:red;
  text-decoration: none;
}

#hidden_h1 {
    display: none;
}


#actual_title {
    color: rgba(255,255,255,0.3);
}

#title_box {
    float: right;
    text-align:right;
    padding-right:30px;
    display: inline-block;
}

#menu {
    display: inline-block;
    float: right;
    clear: both;
}

#games_body {
    margin-left:5%;
    margin-top:1%;
}

#contact_body {
    background-color:rgba(100,100,100, 0.3);
    height: auto;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 100px;
    margin-left: 13%;
    margin-right: 13%;
    overflow: auto;

    line-height: 2.0;
}

#contact_margins {
    padding-right: 150px;
}

#middle_pieces {
    float:right;

    mix-blend-mode: saturation;
}

#deco_pieces {
    clear: both;
    padding-right: 20px;	
}

#follow_body {
    background-color:rgba(100,100,100, 0.3);

    padding-top: 7px;
    padding-bottom: 7px;    
    padding-left: 30px;
    
    margin-top: 17%;
    line-height: 1.6;
}

#news_body {
    background-color:rgba(100,100,100, 0.3);
    height: auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 22%;
    margin-right: 22%;
    overflow: auto;

    line-height: 1.5;
}

#news_margins {

}

#reaction {
    width: 210px;
    height: 50px;
    margin-left:80px;
    margin-top:200px;
    background-image: url("../resources/images/games/reaction_elements/reaction_glitched.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    -webkit-transition: opacity 5s ease-in-out;
    -moz-transition: opacity 5s ease-in-out;
    -o-transition: opacity 5s ease-in-out;
    transition: opacity 5s ease-in-out;
}

#reaction:hover {
    width: 210px;
    height: 50px;
    margin-left:80px;
    margin-top:200px;
    background-image: url("../resources/images/games/reaction_elements/reaction_unglitched.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity:0.75;
}

#footer {
    color:rgba(255,255,255,0.8);
    padding-right:28px;
    position:fixed; 
    bottom:0;
    right: 0;
}

.parallax {
  background-image: url("../resources/images/background_monitor.gif");
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: covers;
}

.parallax_overlay {
  background-color: rgb(0,0,0,0.5);
  width: 100%;
  min-height: 100%;
  position:absolute;
  left: 0;
  top: 0;

}

.lower_pieces {
    float: right;
    padding-bottom: 12px;
    mix-blend-mode: difference;
}

.blink {
    display: inline;
}

.platform {
    font-size: 40;
    display: inline-block;
}

.platform_standard_image {
    width: 45%;
}

.platform_friends_image {
    width: 55%;
}

.golem_optional {
    display: none;
}

.navigator {
    color:rgba(255,255,255,0.8);
    text-align: right;
    padding-right:30px;
}

.navigator:hover {
    color: rgb( 130, 0, 40 );
}

.body_type {
    display: none;
}

.news_entry {
    padding-top: 20px;
}

.news_title {
    margin: 0px;
}

.news_text {
    margin-top: 5px;
}

.code {
    background: #262424;
    padding: 10px 15px;
}
